{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<div class="tag-list">
    <strong>Tags: </strong>
    {{ range $i, $e := .Site.Params.tags -}}
        {{- if $i -}}, {{ end -}}
        <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
    {{- end -}}
</div>
{{ .Content }}


<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $orientation := 1 }}
                {{ $thumb := .Resize "400x" }}
                
                <!-- {{ with .Exif }}
                    {{ $orientation = .Tags.Orientation }}
                    {{if eq $orientation 6}}
                        {{ $thumb := $image.Resize "400x r270" }}
                    {{else}}
                        {{ $thumb := $image.Resize "400x r90" }}
                    {{end}}
                {{end}} -->

                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive gallery-image-rotated">
      
            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}