{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{/* default thumb */}}
                {{ $.Scratch.Set "thumb" ($image.Resize "400x") }}
                {{ with .Exif }}
                    {{ $orientation := .Tags.Orientation | default 1 }}
                    {{ if eq $orientation 6 }}
                        {{ $.Scratch.Set "thumb" ($image.Resize "400x r270") }}
                    {{ else if eq $orientation 8 }}
                        {{ $.Scratch.Set "thumb" ($image.Resize "400x r90") }}
                    {{ else if eq $orientation 3 }}
                        {{ $.Scratch.Set "thumb" ($image.Resize "400x r180") }}
                    {{ end }}
                {{ end }}
                <img src="{{ ($.Scratch.Get "thumb").RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}