
.tag-list{
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    background-color: #fff;
    margin-bottom: 25px;
}

.posts-list {
    position: relative;
    padding-left: 140px;
    top: 0;
}

.center {
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
	font-size: 14px;
	line-height: 1.5;
}

.timeline h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.timeline-item img {
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timeline .container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: var(--primary-color);
	border-left: 2px solid var(--primary-color);
}
	
/* .timeline-item p {
    font-size: 1rem;
} */
	
.timeline-date{
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: .785rem;
}

/* This is the little circle */
.timeline-item:after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid var(--primary-color);
    background: white;
}

.timeline-item:last-child {
    border-image: linear-gradient(
        to bottom,
        rgba(black, .3) 60%,
        rgba(rgba(black, .3), 0)) 1 100%
    ;
}