{{ define "main" }}


<h1>Hello there</h1>

<p>
My name is (Meg) Anderson. You can generally find me across platforms @megretson. I'm a software developer, scientist, and artist. This website houses many of my personal and academic projects.  <a href="about/">(learn more)</a>
</p>
<br/>

<h1>Recent projects</h1>

<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>


{{ end }}